/* -------------------  GENERAL SITE STYLES --------------------- */

/* -------------------  MOBILE  --------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  align-items: stretch;
}

header {
  /*background-image: url("https://via.placeholder.com/1150");*/
  background-image: url("./images/forest.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  text-shadow: 3px 2px hsl(0, 2%, 51%);
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Wallpoet", cursive;
  padding: 0 2rem;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  padding: 10px 0;
  font-family: "Jura", sans-serif;
}

h2.title {
  background: rgb(214 208 202 / 50%);
  padding: 5%;
}

h3 {
  color: black;
  font-weight: normal;
  font-size: 20px;
  font-family: "Jura", sans-serif;
}

.selected-player {
  color: #4f9f8e;
}

h4 {
  color: #545454;
  font-weight: light;
  font-size: 20px;
}

h5 {
  color: #b9ece0;
  font-weight: light;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "DotGothic16", sans-serif;
  text-shadow: 3px 2px hsl(0, 2%, 51%);
}

p {
  color: black;
  font-weight: normal;
  font-size: 18px;
}

.msg-click {
  color: #b1afae;
  padding: 3% 0;
}

a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.button {
  width: 250px;
  padding: 20px 10px;
  background-color: #db3939;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #db3939;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.wrapper-button{
  text-align: center;
}

#submit-create-race{
  display: inline;
}

.card.podracer {
  background-color: rgb(213, 211, 211);
  margin: 10px;
  position: relative;
  min-height: 250px;
}

.card.podracer:hover{
  scale: 1.05;
}

.card.podracer img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  z-index: 9999;
  position: absolute;
  z-index: 99;
  bottom: 0;
}

.cards-list{
  display: flex;
}

button:focus {
  outline: none;
}

.button:hover {
  background-color: #a86868;
  border: 1px solid #a86868;
}

main {
  flex: 1;
  padding: 0 2%;
}

section {
  max-width: 1280px;
  padding: 1% 0;
}

footer {
  height: 100px;
  background-color: #424141;
  font-size: 10px;
  padding: 3%;
  color: #b3adad;
}

footer a {
  color: #b3adad;
}

.wrap-card {
  display: flex;
}

.wrap-card h3 {
  color: #872f2f;
  font-weight: 600;
}

.resultsBoard {
  padding: 2%;
}

.track-icon,
.hedgehog {
  width: 2.5rem;
  margin-left: 5%;
}
/* Progress bar */
.hedgehog-progress {
  width: 2rem;
}

.trackProgress {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  background: #fafafa;
}

.wrap-progress {
  width: 100%;
  position: relative;
  height: 4.5rem;
  margin: 0.2rem 2rem;
  border-bottom: 1px solid #9f6c6c;
}

.player-hedgehog {
  position: absolute;
  width: 100%;
}

/* Results  */

main.wrapper-results {
  display: flex;
  flex-direction: column;
}
.winner-wrapper {
  display: flex;
  flex-direction: column;
  background: rgb(155 98 57 / 73%);
  border-radius: 2px;
  padding: 2rem;
  align-items: center;
}

.header-wrap {
  display: flex;
  flex-direction: column;
}

img.winner-icon {
  max-width: 7rem;
  margin: 2rem;
}

.start-button {
  padding: 1.5rem;
  margin: 2rem;
  width: 30%;
  border-radius: 2px;
  background-color: #e39035;
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  align-self: center;
  font-size: 1.1rem;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
  h1 {
    font-size: 70px;
  }
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
  header {
    height: 700px;
  }
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
  header {
    height: 700px;
  }
}
