/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  /*background-image: url('https://via.placeholder.com/1150');*/
  background-image: url("./images/forest.jpeg");
}

main#two-columns {
  /* margin: 50px 0; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* main#two-columns section {
  max-width: 50vw;
} */

main#two-columns {
  max-width: 80vw;
}

section#accelerate {
  display: flex;
  flex-wrap: wrap;
}

section#accelerate button {
  height: 150px;
  width: 150px;
  margin: 30px auto;
  border-radius: 180%;
  background-color: #db3939;
  border-color: #db3939;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

section#accelerate button:active {
  background-color: #2a8170;
  border: 1px solid #2a8170;
}

#big-numbers {
  font-weight: bolder;
  font-size: 70px;
  color: #908a8a;
}

section#leaderBoard {
  display: flex;
  flex-wrap: wrap;
}

section#leaderBoard > * {
  flex: 1 100%;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
